<div class="container mt-4">

  @if (all.length > 0) {
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>naziv</th>
        <th>mesto</th>
        <th>vlasnik</th>
        <th>usluge</th>
        <th>cena-leto</th>
        <th>cena-zima</th>
        <th>ocena</th>
        <th>akcija</th>
      </tr>
    </thead>
    <tbody>
      @for (property of all; track property.name) {
      <tr [ngClass]="{'table-danger': isCritical(property)}">
        <td>{{ property.name }}</td>
        <td>{{ property.location }}</td>
        <td>{{ property.owner }}</td>
        <td>{{ property.services }}</td>
        <td>{{ property.pricing.summer }}</td>
        <td>{{ property.pricing.winter }}</td>
        <td>
          @if (property.comments.length != 0) {
            <div style="display: flex; align-items: center; gap: 8px;">
              <div class="stars-empty">
                <div class="stars-filled" [ngStyle]="{'width': (getAvgGrade(property) / 5 * 100) + '%'}"></div>
              </div>
              <div>{{ getAvgGrade(property) | number: '1.2-2'}}</div>
            </div>
          }
          @else {
            <span class="text-muted">nema ocena</span>
          }
        </td>
        <td>
          @if (!isBlocked(property) && isCritical(property)) {
            <button class="btn btn-danger btn-sm" (click)="block(property)">
              blokiraj
            </button>
          }
          @else if (isBlocked(property)) {
            <span>vikendica je blokirana</span>
          }
          @else {
            <span class="text-muted">ok</span>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  }
  @else {
  <div class="alert alert-info" role="alert">
    <span>nema pronadjenih vikendica</span>
  </div>
  }
</div>
