<div class="text-center pt-5 row">
  <div class="col-md-4"></div>
  <div class="col-md-4 form-signin">
    <img class="mb-4" src="assets/longferg.gif" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">promena lozinke</h1>

    @if (message != '') {
    <span style="color: red">{{message}}</span>
    <br>
    }

    <div class="form-outline form-floating mb-3">
      <input type="password" id="old-password" name="old-password" placeholder="stara lozinka" class="form-control form-control-lg"
        [(ngModel)]="oldPassword" #oldPasswordCtrl="ngModel" required>

      <label class="form-label" for="username">
        stara lozinka
      </label>

      @if (oldPasswordCtrl.invalid && oldPasswordCtrl.touched) {
      <div class="alert alert-danger">
        unesite staru lozinku
      </div>
      }

      @if (oldPassword == newPassword && oldPassword !="") {
      <div class="alert alert-danger">
        lozinke ne smeju biti iste
      </div> }

    </div>
    <div class="form-outline form-floating mb-3">
      <input type="password" id="password" name="password" placeholder="nova lozinka" class="form-control form-control-lg"
      pattern="^(?=.{6,10}$)(?=.*[A-Z])(?=(?:.*[a-z]){3,})(?=.*\d)(?=.*[^A-Za-z0-9])[A-Za-z].{5,9}$" [(ngModel)]="newPassword" #newPasswordCtrl="ngModel" required>

      <label class="form-label" for="password">
        nova lozinka
      </label>

      @if (newPasswordCtrl.invalid && newPasswordCtrl.touched) {
      <div class="alert alert-danger">
        lozinka mora imati izmedju 6 i 10 karaktera, pocinjati slovom, sadrzati bar: jedno veliko slovo, tri mala slova, jedan
        broj i jedan specijalni karakter
      </div>
      }

    </div>

    <div class="form-outline form-floating mb-3">
      <input type="password" id="password" name="password" placeholder="ponovljena nova lozinka" class="form-control form-control-lg"
      [(ngModel)]="newPassword1" #newPassword1Ctrl="ngModel" required>

      <label class="form-label" for="password">
        ponovljena nova lozinka
      </label>

      @if (newPassword1Ctrl.invalid && newPassword1Ctrl.touched) {
      <div class="alert alert-danger">
        unesite novu lozinku
      </div>
      }

      @if (newPassword1 != newPassword) {
      <div class="alert alert-danger">
        lozinke se ne poklapaju
      </div>
      }

    </div>

    <button class="btn btn-md btn-primary btn-block" [disabled]="oldPasswordCtrl.invalid || newPasswordCtrl.invalid || newPassword1Ctrl.invalid ||newPassword1 != newPassword || oldPassword == newPassword"
      (click)="changePassword()">
      potvrdi
    </button>
  </div>
  <div class="col-md-4"></div>
</div>
