<section>
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-11 col-xl-10">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h4 class="mb-4 pb-2 pb-md-0 mb-md-5">registracija</h4>

            <form (ngSubmit)="register()" #registerForm="ngForm" enctype="multipart/form-data" novalidate>

              @if (message != '') {
              <div class="row">
                <span class="mb-4" style="color: red">{{message}}</span>
              </div>
              }

              <div class="row">
                <div class="col-md-4 mb-4">

                  <div class="form-outline form-floating mb-3">
                    <input
                      type="text"
                      id="username"
                      name="username"
                      placeholder="korisnicko ime"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.username"
                      #usernameCtrl="ngModel"
                      required>

                    <label class="form-label" for="username">
                      korisnicko ime<span class="required-star" style="color: red">*</span>
                    </label>

                    @if (usernameCtrl.invalid && usernameCtrl.touched) {
                      <div class="alert alert-danger">
                        polje je obavezno
                      </div>
                    }

                  </div>

                </div>

                <div class="col-md-4 mb-4">
                  <div class="form-outline form-floating mb-3">
                    <input
                      type="password"
                      id="password"
                      name="password"
                      placeholder="lozinka"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.password"
                      #passwordCtrl="ngModel"
                      required
                      pattern="^(?=.{6,10}$)(?=.*[A-Z])(?=(?:.*[a-z]){3,})(?=.*\d)(?=.*[^A-Za-z0-9])[A-Za-z].{5,9}$">

                    <label class="form-label" for="password">
                      lozinka<span class="required-star" style="color: red">*</span>
                    </label>

                    @if (passwordCtrl.invalid && passwordCtrl.touched) {
                      <div class="alert alert-danger">
                        lozinka mora imati izmedju 6 i 10 karaktera, pocinjati slovom, sadrzati bar: jedno veliko slovo, tri mala slova, jedan
                        broj i jedan specijalni karakter
                      </div>
                    }

                  </div>
                </div>

                <div class="col-md-4 mb-4">
                  <div class="col-12">
                    <div class="form-outline form-floating mb-3">
                      <input
                        type="email"
                        id="email"
                        name="email"
                        placeholder="e-mail"
                        class="form-control form-control-lg"
                        [(ngModel)]="user.email"
                        #emailCtrl="ngModel"
                        pattern="^[\w.-]+@([\w-]+\.)+[\w-]{2,4}$"

                        required>

                        <label class="form-label" for="email">
                          e-mail<span class="required-star" style="color: red">*</span>
                        </label>

                        @if (emailCtrl.invalid && emailCtrl.touched) {
                        <div class="alert alert-danger">
                          @if (emailCtrl.errors?.['required']) {
                            polje je obavezno
                          }
                          @if (emailCtrl.errors?.['pattern']) {
                            email nije u ispravnom formatu
                          }
                        </div>
                        }

                    </div>
                  </div>
                  </div>
              </div>

              <div class="row">

                <div class="col-md-4 mb-4">
                  <div class="form-outline form-floating mb-3">
                    <input
                      type="text"
                      id="firstName"
                      name="firstName"
                      placeholder="ime"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.firstName"
                      #firstNameCtrl="ngModel"
                      required />

                    <label class="form-label" for="firstName">
                      ime<span class="required-star" style="color: red">*</span>
                    </label>

                    @if (firstNameCtrl.invalid && firstNameCtrl.touched) {
                      <div class="alert alert-danger">
                        polje je obavezno
                      </div>
                    }

                  </div>
                </div>

                <div class="col-md-4 mb-4">
                  <div class="form-outline form-floating mb-3">
                    <input
                      type="text"
                      id="lastName"
                      name="lastName"
                      placeholder="prezime"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.lastName"
                      #lastNameCtrl="ngModel"
                      required>

                    <label class="form-label" for="firstName">
                      prezime<span class="required-star" style="color: red">*</span>
                    </label>

                    @if (lastNameCtrl.invalid && lastNameCtrl.touched) {
                      <div class="alert alert-danger">
                        polje je obavezno
                      </div>
                    }
                  </div>
                </div>
                  <div class="col-md-4 mb-4">
                    <p class="mb-2 pb-1">
                      pol<span class="required-star" style="color: red">*</span>
                    </p>

                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="M" value="M"
                        [(ngModel)]="user.gender" required />
                      <label class="form-check-label" for="M">M</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="F" value="F"
                        [(ngModel)]="user.gender" required />
                      <label class="form-check-label" for="F">Z</label>
                    </div>
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="gender" id="O" value="O"
                        [(ngModel)]="user.gender" required>
                      <label class="form-check-label" for="O">drugo</label>
                    </div>
                  </div>

              </div>

              <div class="row">
                <div class="col-md-4 mb-4">
                  <div class="form-outline form-floating mb-3">
                    <input
                      type="text"
                      id="address"
                      name="address"
                      placeholder="adresa"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.address"
                      #addressCtrl="ngModel"
                      required>

                    <label class="form-label" for="address">
                      adresa<span class="required-star" style="color: red">*</span>
                    </label>

                    @if (addressCtrl.invalid && addressCtrl.touched) {
                      <div class="alert alert-danger">
                        polje je obavezno
                      </div>
                    }

                  </div>
                </div>

                <div class="col-md-4 mb-4">
                  <div class="form-outline form-floating mb-3">
                    <input
                      type="tel"
                      id="phone"
                      name="phone"
                      placeholder="kotakt telefon"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.phone"
                      #phoneCtrl="ngModel"
                      required
                      pattern="^\+?\d{8,15}$">

                    <label class="form-label" for="phone">
                      kontakt telefon<span class="required-star" style="color: red">*</span>
                    </label>

                    @if (phoneCtrl.invalid && phoneCtrl.touched) {
                    <div class="alert alert-danger">
                      @if (phoneCtrl.errors?.['required']) {
                        polje je obavezno
                      }
                      @if (phoneCtrl.errors?.['pattern']) {
                        broj telefona nije u ispravnom formatu
                      }
                    </div>
                  }

                  </div>
                </div>

                <div class="col-md-4 mb-4">
                  <div class="form-outline form-floating">
                    <select
                      class="form-select form-control-lg"
                      name="type"
                      [(ngModel)]="user.type"
                      #typeCtrl="ngModel"
                      required>
                      <option value="" disabled>izaberi tip korisnika</option>
                      <option value="owner">vlasnik</option>
                      <option value="tourist">turista</option>
                    </select>
                  </div>

                  @if (typeCtrl.invalid && typeCtrl.touched) {
                    <div class="alert alert-danger">
                      polje je obavezno
                    </div>
                  }

                </div>
              </div>

              <div class="row">

                <div class="col-md-8 mb-4">

                  <label class="form-label" for="payment">
                    broj kreditne kartice<span class="required-star" style="color: red">*</span>
                  </label>
                  <div class="input-group">
                    <input
                      type="text"
                      id="payment"
                      name="payment"
                      class="form-control form-control-lg"
                      [(ngModel)]="user.payment"
                      #paymentCtrl="ngModel"
                      (input)="formatCardNumber($event)"
                      maxlength="19"
                      required
                      pattern="^((?:4539|4556|4916|4532|4929|4485|4716)(?: \d{4}){3}|5[1-5]\d{2}(?: \d{4}){3}|(?:30[0-3]\d|36\d{2}|38\d{2}) \d{7} \d{4})$"
                      title="Diners, MasterCard ili Visa">

                    <span class="input-group-text bg-white border-start-0">
                      <img *ngIf="cardType" [src]="cardType" alt="card logo" style="height:24px;" />
                    </span>

                  </div>
                    @if (paymentCtrl.invalid && paymentCtrl.touched) {
                      <div class="alert alert-danger">
                        @if (paymentCtrl.errors?.['required']) {
                          polje je obavezno
                        }
                        @if (paymentCtrl.errors?.['pattern']) {
                          nije uneta ispravna kartica
                        }
                    </div>
                  }

                </div>

                <div class="col-md-4 mb-4">
                  <label class="form-label" for="pfp">profilna slika</label>
                  <input
                    type="file"
                    id="pfp"
                    name="pfp"
                    class="form-control form-control-lg"
                    (change)="onFileSelect($event)">
                </div>
              </div>

              <div class="row">
                  <div class="mt-4 pt-2">
                    <button class="btn btn-primary btn-lg" type="submit" [disabled]="!registerForm.valid">
                      registruj se
                    </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
